<div class="container" style="min-height: 100%;">
  <app-header></app-header>
  <div class="row">
    <div class="col text-center mt-4" *ngFor="let contact of contacts">
      <h2 class="phosphate" *ngIf="contact.key === 'emma'">Försäljning</h2>
      <h2 class="phosphate" *ngIf="contact.key === 'jens'">Övriga frågor</h2>
      <div class="card mx-auto" *ngIf="contact">
        <img class="card-img-top" src="{{ '../assets/img/' + contact.photo.name }}" alt="Kontaktperson">

        <div class="card-body" align="center">

          <p class="card-text"><b>{{ contact.name }}</b></p>
          <p class="card-text">{{ contact.phone }}</p>
          <p class="card-text"><a href="{{ 'mailto:' + contact.email }}">{{ contact.email | truncate}}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
