.card {
    margin-bottom: 20px;
}

.max-height {
    height: calc(100% - 20px);
}

.sold {
    filter: blur(3px);
}

.sold-text {
    color: red;
    text-transform: uppercase;
    z-index: 500;
    position: absolute;
    top: 100px;
    width: 100%;
    background-color: white;
    padding: 5px;
}

.unit {
    min-width: 350px; 
    margin: auto
}
