<div class="background d-none d-md-block">
  <img src="../../assets/img/background2.jpg" class="img-fluid" />
</div>
<div class="container">
  <div class="row mt-2 mb-3">
    <div class="col">
      <img src="../../assets/img/header-logo.png" class="img-fluid"
        style="cursor: pointer; min-width: 200px; max-width: 90%;" (click)="navigate('/home')">
    </div>
  </div>
</div>
<button class="btn btn-lg menu-icon" [ngClass]="{'btn-secondary':!menuHidden}" (click)="toggleMenu()">
  <span class="fas fa-bars"></span>
</button>

<div class="sidebar" [ngClass]="{'d-none':menuHidden}">
  <nav class="nav flex-column">
    <div class="dropdown-divider mx-2"></div>
    <div class="nav-link dropdown-item" (click)="navigate('/home')">Till salu</div>
    <div *ngFor="let unit of units" class="nav-link dropdown-item ml-2" (click)="navigate('/enhet', unit.key)">{{ unit.name }}</div>
    <div class="dropdown-divider mx-2"></div>
    <div class="nav-link dropdown-item" (click)="navigate('/kontakt')">Kontakt</div>
    <div *ngIf="authProvider.isAuthenticated()">
      <div class="dropdown-divider mx-2"></div>
      <div class="nav-link dropdown-item" (click)="signOut()">Logga ut</div>
    </div>
  </nav>
</div>