<div class="container" *ngIf="unit">
  <app-header></app-header>
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <h1 *ngIf="unit.sold" class="sold">SÅLD</h1>
          <h2 class="phosphate mt-2">{{ unit.name }}</h2>
          <hr>
          <div id="carousel-images" class="carousel" data-interval="false" style="margin: -15px;">
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let img of unit.images; let isFirst = first" [class.active]="isFirst">
                <img class="d-block w-100" src="{{'../../assets/img/' + img.name }}" alt="" data-toggle="modal"
                  [attr.data-target]="'#modal-images-' + unit.key">
              </div>
            </div>
          </div>
          <div class="text-center mt-4" style="padding: 5px;">
            <a class="btn btn-outline-secondary btn-round" href="#carousel-images" role="button" data-slide="prev"
              style="margin-right: 5px;"><span class="fa fa-chevron-left"></span></a>
            <a class="btn btn-outline-secondary btn-round" href="#carousel-images" role="button" data-slide="next"><span
                class="fa fa-chevron-right"></span></a>
          </div>
        </div>
      </div>
      <div *ngIf="leverasbeskrivning" class="card">
        <div class="card-body">
          <h2 class="phosphate mt-3">Beskrivning</h2>
          <hr>
          <div class="row">
            <div class="col-md-4" *ngFor='let feature of leverasbeskrivning'>
              <h5>{{ feature.name }}</h5>
              <p>{{ feature.value }}</p>
            </div>
          </div>
          <br>
        </div>
      </div>
      <div *ngIf="ekonomi" class="card">
        <div class="card-body">
          <h2 class="phosphate mt-3">Ekonomi</h2>
          <hr>
          <div class="row">
            <div class="col-md-4" *ngFor='let feature of ekonomi'>
              <h5>{{ feature.name }}</h5>
              <p>{{ feature.value }}</p>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div *ngIf="faktaruta" class="card">
        <div class="card-body">
          <h2 class="phosphate mt-2">Faktaruta</h2>
          <hr>
          <table class="table table-borderless table-sm">
            <tr *ngFor="let feature of faktaruta">
              <th>{{ feature.name }}</th>
              <td>{{ feature.value }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card" *ngIf="salesAgent">
        <h2 class="card-body phosphate mt-2">Mäklare</h2>
        <img class="card-img-top" src="{{ '../assets/img/' + salesAgent.photo.name }}" alt="Kontaktperson">

        <div class="card-body" align="center">
          <p class="card-text"><b>{{ salesAgent.name }}</b></p>
          <p class="card-text">{{ salesAgent.phone }}</p>
          <p class="card-text"><a href="{{ 'mailto:' + salesAgent.email }}">{{ salesAgent.email | truncate}}</a></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h2 class="phosphate mt-2">Dokument</h2>
          <hr>
          <table class="table table-borderless table-sm">
            <tr *ngFor="let doc of unit.documents">
              <td><span class="far fa-file-pdf"></span></td>
              <td><a href="{{'../../assets/doc/' + doc.doc }}"> {{ doc.name }} </a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

<app-image-modal *ngIf="unit" [images]="unit.images" [id]="'modal-images-' + unit.key" [title]="">
</app-image-modal>