<!-- Footer -->
<br><br><br>
<footer class="footer font-small stylish-color-dark pt-4 mt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-12 text-center">
         <!-- Links -->
         <img src="../../assets/img/footer-logo.png" width="300px" />
         <br><br>
         <ul class="footer-links list-unstyled">
           <li>
             <a [routerLink]="['/kontakt']">om oss / kontakt</a>
           </li>
           <li *ngIf="isAnonymous">
            <a [routerLink]="['/sign-in']" [queryParams]="{redirectTo: redirectTo}">logga in</a>
          </li>
         </ul>
        

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  <br>
</footer>
<!-- Footer -->